<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body >
   <h2 align="center">Please Register</h2>
   <form action="" method="post">
       <table align="center">
           <tr>
               <td>username:</td>
               <td><input type="text" name="username" value="{{request.form['username']}}" placeholder="Username" > </td>
           </tr>
           <tr>
               <td>passport：</td>
               <td><input type="password" name="password" placeholder="Password"></td>
           </tr>
           <table align="center">
            <tr >
                <td><input type="submit" value="Register" ></td>
            </tr>

       </table>

   </form>
</body>
</html>